node_modules
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
.env.local
.env.development.local
dist
build
.idea
.vscode
.git
**/*.stories.ts
**/*.stories.tsx
**/*.test.ts
**/*.test.tsx
**/*.spec.ts
**/*.spec.tsx
